@font-face {
    font-family: "teritorio";
    src: url("./teritorio.eot?7dd82c9c871025a336efa3e475d8117e#iefix") format("embedded-opentype"),
url("./teritorio.woff2?7dd82c9c871025a336efa3e475d8117e") format("woff2"),
url("./teritorio.woff?7dd82c9c871025a336efa3e475d8117e") format("woff");
}

i[class^="teritorio-"]:before, i[class*=" teritorio-"]:before {
    font-family: teritorio !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.teritorio-zoo:before {
    content: "\f101";
}
.teritorio-yoga:before {
    content: "\f102";
}
.teritorio-winter_sports:before {
    content: "\f103";
}
.teritorio-winery:before {
    content: "\f104";
}
.teritorio-windmill:before {
    content: "\f105";
}
.teritorio-wildlife_hide:before {
    content: "\f106";
}
.teritorio-wilderness_hut:before {
    content: "\f107";
}
.teritorio-wholesale:before {
    content: "\f108";
}
.teritorio-weapons:before {
    content: "\f109";
}
.teritorio-wayside_shrine:before {
    content: "\f10a";
}
.teritorio-wayside_cross:before {
    content: "\f10b";
}
.teritorio-watermill:before {
    content: "\f10c";
}
.teritorio-waterfall:before {
    content: "\f10d";
}
.teritorio-water_well:before {
    content: "\f10e";
}
.teritorio-water_ski:before {
    content: "\f10f";
}
.teritorio-water_rescue_station:before {
    content: "\f110";
}
.teritorio-water_park:before {
    content: "\f111";
}
.teritorio-watches:before {
    content: "\f112";
}
.teritorio-waste_disposal:before {
    content: "\f113";
}
.teritorio-waste_basket:before {
    content: "\f114";
}
.teritorio-volleyball:before {
    content: "\f115";
}
.teritorio-viewpoint:before {
    content: "\f116";
}
.teritorio-video_games:before {
    content: "\f117";
}
.teritorio-video:before {
    content: "\f118";
}
.teritorio-veterinary:before {
    content: "\f119";
}
.teritorio-vending_machine_vegetables:before {
    content: "\f11a";
}
.teritorio-vending_machine_seafood:before {
    content: "\f11b";
}
.teritorio-vending_machine_pizza:before {
    content: "\f11c";
}
.teritorio-vending_machine_food:before {
    content: "\f11d";
}
.teritorio-vending_machine_bread:before {
    content: "\f11e";
}
.teritorio-vending_machine:before {
    content: "\f11f";
}
.teritorio-vehicle_inspection:before {
    content: "\f120";
}
.teritorio-upper_secondary_education_mfr:before {
    content: "\f121";
}
.teritorio-upper_secondary_education_erea:before {
    content: "\f122";
}
.teritorio-upper_secondary_education:before {
    content: "\f123";
}
.teritorio-university:before {
    content: "\f124";
}
.teritorio-trinquete:before {
    content: "\f125";
}
.teritorio-travel_agency:before {
    content: "\f126";
}
.teritorio-tram_stop:before {
    content: "\f127";
}
.teritorio-train_station_entrance:before {
    content: "\f128";
}
.teritorio-toys:before {
    content: "\f129";
}
.teritorio-townhall:before {
    content: "\f12a";
}
.teritorio-tower:before {
    content: "\f12b";
}
.teritorio-tourism_information_terminal:before {
    content: "\f12c";
}
.teritorio-toll_booth:before {
    content: "\f12d";
}
.teritorio-toilets:before {
    content: "\f12e";
}
.teritorio-tobacco:before {
    content: "\f12f";
}
.teritorio-tiler:before {
    content: "\f130";
}
.teritorio-ticket:before {
    content: "\f131";
}
.teritorio-theme_park:before {
    content: "\f132";
}
.teritorio-theatre:before {
    content: "\f133";
}
.teritorio-terminal:before {
    content: "\f134";
}
.teritorio-tennis:before {
    content: "\f135";
}
.teritorio-telephone:before {
    content: "\f136";
}
.teritorio-taxi:before {
    content: "\f137";
}
.teritorio-tattoo:before {
    content: "\f138";
}
.teritorio-tailor_workshop:before {
    content: "\f139";
}
.teritorio-tailor_shop:before {
    content: "\f13a";
}
.teritorio-tailor:before {
    content: "\f13b";
}
.teritorio-table_tennis:before {
    content: "\f13c";
}
.teritorio-table_soccer:before {
    content: "\f13d";
}
.teritorio-synagogue:before {
    content: "\f13e";
}
.teritorio-swimming_pool_shop:before {
    content: "\f13f";
}
.teritorio-swimming_pool_leisure:before {
    content: "\f140";
}
.teritorio-swimming_pool:before {
    content: "\f141";
}
.teritorio-swimming_centre:before {
    content: "\f142";
}
.teritorio-swimming_area:before {
    content: "\f143";
}
.teritorio-swimming:before {
    content: "\f144";
}
.teritorio-surfing:before {
    content: "\f145";
}
.teritorio-surf_school:before {
    content: "\f146";
}
.teritorio-surf:before {
    content: "\f147";
}
.teritorio-supermarket:before {
    content: "\f148";
}
.teritorio-subway_entrance:before {
    content: "\f149";
}
.teritorio-stonemason:before {
    content: "\f14a";
}
.teritorio-stile:before {
    content: "\f14b";
}
.teritorio-statue:before {
    content: "\f14c";
}
.teritorio-stationery:before {
    content: "\f14d";
}
.teritorio-station:before {
    content: "\f14e";
}
.teritorio-stadium:before {
    content: "\f14f";
}
.teritorio-squash:before {
    content: "\f150";
}
.teritorio-spring:before {
    content: "\f151";
}
.teritorio-sports_centre:before {
    content: "\f152";
}
.teritorio-sports:before {
    content: "\f153";
}
.teritorio-sport_practice:before {
    content: "\f154";
}
.teritorio-sport:before {
    content: "\f155";
}
.teritorio-spa:before {
    content: "\f156";
}
.teritorio-social_services:before {
    content: "\f157";
}
.teritorio-social_information:before {
    content: "\f158";
}
.teritorio-soccer:before {
    content: "\f159";
}
.teritorio-slipway:before {
    content: "\f15a";
}
.teritorio-skateboard:before {
    content: "\f15b";
}
.teritorio-shower:before {
    content: "\f15c";
}
.teritorio-shopping:before {
    content: "\f15d";
}
.teritorio-shooting:before {
    content: "\f15e";
}
.teritorio-shoes:before {
    content: "\f15f";
}
.teritorio-shoemaker:before {
    content: "\f160";
}
.teritorio-shelter:before {
    content: "\f161";
}
.teritorio-sewing:before {
    content: "\f162";
}
.teritorio-services_shopping:before {
    content: "\f163";
}
.teritorio-services:before {
    content: "\f164";
}
.teritorio-second_hand:before {
    content: "\f165";
}
.teritorio-seafood:before {
    content: "\f166";
}
.teritorio-sculpture:before {
    content: "\f167";
}
.teritorio-sculptor:before {
    content: "\f168";
}
.teritorio-scuba_diving:before {
    content: "\f169";
}
.teritorio-scooter:before {
    content: "\f16a";
}
.teritorio-school:before {
    content: "\f16b";
}
.teritorio-sanitary_dump_station:before {
    content: "\f16c";
}
.teritorio-sailing_school:before {
    content: "\f16d";
}
.teritorio-sailing:before {
    content: "\f16e";
}
.teritorio-safety:before {
    content: "\f16f";
}
.teritorio-running:before {
    content: "\f170";
}
.teritorio-rugby_union:before {
    content: "\f171";
}
.teritorio-rugby_league:before {
    content: "\f172";
}
.teritorio-rugby:before {
    content: "\f173";
}
.teritorio-rowing:before {
    content: "\f174";
}
.teritorio-roofer:before {
    content: "\f175";
}
.teritorio-retirement_home:before {
    content: "\f176";
}
.teritorio-retail:before {
    content: "\f177";
}
.teritorio-restaurant:before {
    content: "\f178";
}
.teritorio-resort:before {
    content: "\f179";
}
.teritorio-rental:before {
    content: "\f17a";
}
.teritorio-remarkable:before {
    content: "\f17b";
}
.teritorio-recycling_centre:before {
    content: "\f17c";
}
.teritorio-racquet:before {
    content: "\f17d";
}
.teritorio-public_landmark:before {
    content: "\f17e";
}
.teritorio-public_bookcase:before {
    content: "\f17f";
}
.teritorio-public_bath:before {
    content: "\f180";
}
.teritorio-pub:before {
    content: "\f181";
}
.teritorio-products:before {
    content: "\f182";
}
.teritorio-prison:before {
    content: "\f183";
}
.teritorio-primary_education:before {
    content: "\f184";
}
.teritorio-pre_primary_school:before {
    content: "\f185";
}
.teritorio-pottery:before {
    content: "\f186";
}
.teritorio-post_office:before {
    content: "\f187";
}
.teritorio-post_box:before {
    content: "\f188";
}
.teritorio-polling_station:before {
    content: "\f189";
}
.teritorio-police:before {
    content: "\f18a";
}
.teritorio-podiatrist:before {
    content: "\f18b";
}
.teritorio-plumber:before {
    content: "\f18c";
}
.teritorio-playground:before {
    content: "\f18d";
}
.teritorio-place_of_worship:before {
    content: "\f18e";
}
.teritorio-pitch:before {
    content: "\f18f";
}
.teritorio-picnic_table:before {
    content: "\f190";
}
.teritorio-picnic_site:before {
    content: "\f191";
}
.teritorio-physiotherapist:before {
    content: "\f192";
}
.teritorio-photographer:before {
    content: "\f193";
}
.teritorio-photo_booth:before {
    content: "\f194";
}
.teritorio-photo:before {
    content: "\f195";
}
.teritorio-pharmacy:before {
    content: "\f196";
}
.teritorio-pet_grooming:before {
    content: "\f197";
}
.teritorio-pet:before {
    content: "\f198";
}
.teritorio-perfumery:before {
    content: "\f199";
}
.teritorio-perfume:before {
    content: "\f19a";
}
.teritorio-pelota:before {
    content: "\f19b";
}
.teritorio-pastry:before {
    content: "\f19c";
}
.teritorio-parking_space:before {
    content: "\f19d";
}
.teritorio-parking_carpool:before {
    content: "\f19e";
}
.teritorio-parking:before {
    content: "\f19f";
}
.teritorio-park:before {
    content: "\f1a0";
}
.teritorio-parcel_locker:before {
    content: "\f1a1";
}
.teritorio-painter:before {
    content: "\f1a2";
}
.teritorio-paintball:before {
    content: "\f1a3";
}
.teritorio-paint:before {
    content: "\f1a4";
}
.teritorio-paddle_tennis:before {
    content: "\f1a5";
}
.teritorio-outdoor:before {
    content: "\f1a6";
}
.teritorio-orienteering:before {
    content: "\f1a7";
}
.teritorio-optician:before {
    content: "\f1a8";
}
.teritorio-oil_mill:before {
    content: "\f1a9";
}
.teritorio-office:before {
    content: "\f1aa";
}
.teritorio-nurse:before {
    content: "\f1ab";
}
.teritorio-notary:before {
    content: "\f1ac";
}
.teritorio-nightclub:before {
    content: "\f1ad";
}
.teritorio-newsagent:before {
    content: "\f1ae";
}
.teritorio-nature:before {
    content: "\f1af";
}
.teritorio-musical_instrument:before {
    content: "\f1b0";
}
.teritorio-music:before {
    content: "\f1b1";
}
.teritorio-museum:before {
    content: "\f1b2";
}
.teritorio-mural:before {
    content: "\f1b3";
}
.teritorio-multi:before {
    content: "\f1b4";
}
.teritorio-mountain_rescue:before {
    content: "\f1b5";
}
.teritorio-mountain_pass:before {
    content: "\f1b6";
}
.teritorio-motorway_junction:before {
    content: "\f1b7";
}
.teritorio-motorcycle_repair:before {
    content: "\f1b8";
}
.teritorio-motorcycle_parking:before {
    content: "\f1b9";
}
.teritorio-motorcycle:before {
    content: "\f1ba";
}
.teritorio-motorboat_rental:before {
    content: "\f1bb";
}
.teritorio-motor:before {
    content: "\f1bc";
}
.teritorio-motocross:before {
    content: "\f1bd";
}
.teritorio-motel:before {
    content: "\f1be";
}
.teritorio-mosque:before {
    content: "\f1bf";
}
.teritorio-monument:before {
    content: "\f1c0";
}
.teritorio-monastery:before {
    content: "\f1c1";
}
.teritorio-mobility:before {
    content: "\f1c2";
}
.teritorio-mobile_phone:before {
    content: "\f1c3";
}
.teritorio-miniature_golf:before {
    content: "\f1c4";
}
.teritorio-memorial:before {
    content: "\f1c5";
}
.teritorio-medical_supply:before {
    content: "\f1c6";
}
.teritorio-maze:before {
    content: "\f1c7";
}
.teritorio-massage:before {
    content: "\f1c8";
}
.teritorio-marketplace:before {
    content: "\f1c9";
}
.teritorio-marina:before {
    content: "\f1ca";
}
.teritorio-mall:before {
    content: "\f1cb";
}
.teritorio-luthier:before {
    content: "\f1cc";
}
.teritorio-lower_secondary_education_segpa:before {
    content: "\f1cd";
}
.teritorio-lower_secondary_education:before {
    content: "\f1ce";
}
.teritorio-locksmith:before {
    content: "\f1cf";
}
.teritorio-local_shop:before {
    content: "\f1d0";
}
.teritorio-lighthouse_minor:before {
    content: "\f1d1";
}
.teritorio-lighthouse:before {
    content: "\f1d2";
}
.teritorio-lifeguard_base:before {
    content: "\f1d3";
}
.teritorio-lifeguard:before {
    content: "\f1d4";
}
.teritorio-life_ring:before {
    content: "\f1d5";
}
.teritorio-library:before {
    content: "\f1d6";
}
.teritorio-leisure:before {
    content: "\f1d7";
}
.teritorio-leather_workshop:before {
    content: "\f1d8";
}
.teritorio-leather_shop:before {
    content: "\f1d9";
}
.teritorio-leather:before {
    content: "\f1da";
}
.teritorio-lavoir:before {
    content: "\f1db";
}
.teritorio-laundry:before {
    content: "\f1dc";
}
.teritorio-lamps:before {
    content: "\f1dd";
}
.teritorio-laboratory:before {
    content: "\f1de";
}
.teritorio-kitesurfing:before {
    content: "\f1df";
}
.teritorio-kitchen:before {
    content: "\f1e0";
}
.teritorio-kiosk:before {
    content: "\f1e1";
}
.teritorio-kindergarten:before {
    content: "\f1e2";
}
.teritorio-karting:before {
    content: "\f1e3";
}
.teritorio-juvenile_youth_centre:before {
    content: "\f1e4";
}
.teritorio-joiner:before {
    content: "\f1e5";
}
.teritorio-jewelry:before {
    content: "\f1e6";
}
.teritorio-jeweller:before {
    content: "\f1e7";
}
.teritorio-internet_cafe:before {
    content: "\f1e8";
}
.teritorio-interior_decoration:before {
    content: "\f1e9";
}
.teritorio-insurance:before {
    content: "\f1ea";
}
.teritorio-information:before {
    content: "\f1eb";
}
.teritorio-ice_rink:before {
    content: "\f1ec";
}
.teritorio-ice_hockey:before {
    content: "\f1ed";
}
.teritorio-ice_cream:before {
    content: "\f1ee";
}
.teritorio-household_linen:before {
    content: "\f1ef";
}
.teritorio-hotel:before {
    content: "\f1f0";
}
.teritorio-hosting:before {
    content: "\f1f1";
}
.teritorio-hostel:before {
    content: "\f1f2";
}
.teritorio-hospital:before {
    content: "\f1f3";
}
.teritorio-horse_riding:before {
    content: "\f1f4";
}
.teritorio-horse_racing:before {
    content: "\f1f5";
}
.teritorio-hitchhiking:before {
    content: "\f1f6";
}
.teritorio-hifi:before {
    content: "\f1f7";
}
.teritorio-heritage:before {
    content: "\f1f8";
}
.teritorio-hearing_aids:before {
    content: "\f1f9";
}
.teritorio-healthcare_centre:before {
    content: "\f1fa";
}
.teritorio-health_food:before {
    content: "\f1fb";
}
.teritorio-hat:before {
    content: "\f1fc";
}
.teritorio-hardware:before {
    content: "\f1fd";
}
.teritorio-handicraft:before {
    content: "\f1fe";
}
.teritorio-handball:before {
    content: "\f1ff";
}
.teritorio-halt:before {
    content: "\f200";
}
.teritorio-hairdresser:before {
    content: "\f201";
}
.teritorio-gymnastics:before {
    content: "\f202";
}
.teritorio-guest_house:before {
    content: "\f203";
}
.teritorio-groundskeeping:before {
    content: "\f204";
}
.teritorio-grinding_mill:before {
    content: "\f205";
}
.teritorio-greengrocer:before {
    content: "\f206";
}
.teritorio-grave_yard:before {
    content: "\f207";
}
.teritorio-graffiti:before {
    content: "\f208";
}
.teritorio-government_tax:before {
    content: "\f209";
}
.teritorio-government_france_service:before {
    content: "\f20a";
}
.teritorio-government:before {
    content: "\f20b";
}
.teritorio-golf_course_minor:before {
    content: "\f20c";
}
.teritorio-golf_course:before {
    content: "\f20d";
}
.teritorio-gift:before {
    content: "\f20e";
}
.teritorio-general:before {
    content: "\f20f";
}
.teritorio-gas:before {
    content: "\f210";
}
.teritorio-garden_centre:before {
    content: "\f211";
}
.teritorio-garden:before {
    content: "\f212";
}
.teritorio-gallery:before {
    content: "\f213";
}
.teritorio-futsal:before {
    content: "\f214";
}
.teritorio-furniture:before {
    content: "\f215";
}
.teritorio-fuel:before {
    content: "\f216";
}
.teritorio-frozen_food:before {
    content: "\f217";
}
.teritorio-free_flying:before {
    content: "\f218";
}
.teritorio-fountain:before {
    content: "\f219";
}
.teritorio-food_court:before {
    content: "\f21a";
}
.teritorio-food_bank:before {
    content: "\f21b";
}
.teritorio-florist:before {
    content: "\f21c";
}
.teritorio-fitness_station:before {
    content: "\f21d";
}
.teritorio-fitness_centre:before {
    content: "\f21e";
}
.teritorio-fishing_shop:before {
    content: "\f21f";
}
.teritorio-fishing:before {
    content: "\f220";
}
.teritorio-fireplace:before {
    content: "\f221";
}
.teritorio-firepit:before {
    content: "\f222";
}
.teritorio-fire_station:before {
    content: "\f223";
}
.teritorio-ferry_terminal:before {
    content: "\f224";
}
.teritorio-fast_food:before {
    content: "\f225";
}
.teritorio-farm:before {
    content: "\f226";
}
.teritorio-fabric:before {
    content: "\f227";
}
.teritorio-extra-zip_line:before {
    content: "\f228";
}
.teritorio-extra-whelk:before {
    content: "\f229";
}
.teritorio-extra-water_tour:before {
    content: "\f22a";
}
.teritorio-extra-water_sports:before {
    content: "\f22b";
}
.teritorio-extra-waste-pipe:before {
    content: "\f22c";
}
.teritorio-extra-vineyard:before {
    content: "\f22d";
}
.teritorio-extra-view:before {
    content: "\f22e";
}
.teritorio-extra-usefull:before {
    content: "\f22f";
}
.teritorio-extra-unusual_accommodation:before {
    content: "\f230";
}
.teritorio-extra-unesco_site:before {
    content: "\f231";
}
.teritorio-extra-unavoidable:before {
    content: "\f232";
}
.teritorio-extra-trip:before {
    content: "\f233";
}
.teritorio-extra-trademark_landes:before {
    content: "\f234";
}
.teritorio-extra-town:before {
    content: "\f235";
}
.teritorio-extra-to_take_away:before {
    content: "\f236";
}
.teritorio-extra-third_place:before {
    content: "\f237";
}
.teritorio-extra-thermal_station:before {
    content: "\f238";
}
.teritorio-extra-thermal_establishment:before {
    content: "\f239";
}
.teritorio-extra-terra_aventura:before {
    content: "\f23a";
}
.teritorio-extra-temple:before {
    content: "\f23b";
}
.teritorio-extra-technopolis_incubator:before {
    content: "\f23c";
}
.teritorio-extra-tasting:before {
    content: "\f23d";
}
.teritorio-extra-surfhouses:before {
    content: "\f23e";
}
.teritorio-extra-strawberry:before {
    content: "\f23f";
}
.teritorio-extra-spot_surf:before {
    content: "\f240";
}
.teritorio-extra-sports_and_leisures:before {
    content: "\f241";
}
.teritorio-extra-speleology:before {
    content: "\f242";
}
.teritorio-extra-skippers:before {
    content: "\f243";
}
.teritorio-extra-sea-fishing:before {
    content: "\f244";
}
.teritorio-extra-school-boat:before {
    content: "\f245";
}
.teritorio-extra-sailboat-rental:before {
    content: "\f246";
}
.teritorio-extra-roadworks:before {
    content: "\f247";
}
.teritorio-extra-restricted:before {
    content: "\f248";
}
.teritorio-extra-restaurant_prestige:before {
    content: "\f249";
}
.teritorio-extra-reflexology:before {
    content: "\f24a";
}
.teritorio-extra-recycling:before {
    content: "\f24b";
}
.teritorio-extra-point:before {
    content: "\f24c";
}
.teritorio-extra-place_for_rent:before {
    content: "\f24d";
}
.teritorio-extra-pins:before {
    content: "\f24e";
}
.teritorio-extra-pine_forest:before {
    content: "\f24f";
}
.teritorio-extra-picnic_prestige:before {
    content: "\f250";
}
.teritorio-extra-paddle:before {
    content: "\f251";
}
.teritorio-extra-oyster_hut:before {
    content: "\f252";
}
.teritorio-extra-other_sports:before {
    content: "\f253";
}
.teritorio-extra-organic_store:before {
    content: "\f254";
}
.teritorio-extra-old_rigs:before {
    content: "\f255";
}
.teritorio-extra-office:before {
    content: "\f256";
}
.teritorio-extra-nature_reserve:before {
    content: "\f257";
}
.teritorio-extra-natural_site:before {
    content: "\f258";
}
.teritorio-extra-multimedia_library:before {
    content: "\f259";
}
.teritorio-extra-mountain_bike:before {
    content: "\f25a";
}
.teritorio-extra-motorway:before {
    content: "\f25b";
}
.teritorio-extra-major_projects:before {
    content: "\f25c";
}
.teritorio-extra-lost_property:before {
    content: "\f25d";
}
.teritorio-extra-local_shop_prestige:before {
    content: "\f25e";
}
.teritorio-extra-local_authority:before {
    content: "\f25f";
}
.teritorio-extra-leisure_supply:before {
    content: "\f260";
}
.teritorio-extra-leaf:before {
    content: "\f261";
}
.teritorio-extra-lake:before {
    content: "\f262";
}
.teritorio-extra-kitchen_designer:before {
    content: "\f263";
}
.teritorio-extra-jacquaire_accommodation:before {
    content: "\f264";
}
.teritorio-extra-industrial_warehouse:before {
    content: "\f265";
}
.teritorio-extra-holy_well:before {
    content: "\f266";
}
.teritorio-extra-hiking_forest:before {
    content: "\f267";
}
.teritorio-extra-hiking_biking:before {
    content: "\f268";
}
.teritorio-extra-hiking:before {
    content: "\f269";
}
.teritorio-extra-guided_tour:before {
    content: "\f26a";
}
.teritorio-extra-guided_hikes:before {
    content: "\f26b";
}
.teritorio-extra-golf:before {
    content: "\f26c";
}
.teritorio-extra-giving_box:before {
    content: "\f26d";
}
.teritorio-extra-ganaderia:before {
    content: "\f26e";
}
.teritorio-extra-food_truck:before {
    content: "\f26f";
}
.teritorio-extra-food:before {
    content: "\f270";
}
.teritorio-extra-flower_village:before {
    content: "\f271";
}
.teritorio-extra-fish_market:before {
    content: "\f272";
}
.teritorio-extra-ferme_decouverte:before {
    content: "\f273";
}
.teritorio-extra-farmhouse-inn:before {
    content: "\f274";
}
.teritorio-extra-family:before {
    content: "\f275";
}
.teritorio-extra-equestrian_tourism:before {
    content: "\f276";
}
.teritorio-extra-entrepreneurship_services:before {
    content: "\f277";
}
.teritorio-extra-education_CFA:before {
    content: "\f278";
}
.teritorio-extra-education_BTS_IUT_BUT:before {
    content: "\f279";
}
.teritorio-extra-drive:before {
    content: "\f27a";
}
.teritorio-extra-dog_allowed:before {
    content: "\f27b";
}
.teritorio-extra-disabled:before {
    content: "\f27c";
}
.teritorio-extra-delivery:before {
    content: "\f27d";
}
.teritorio-extra-cruise:before {
    content: "\f27e";
}
.teritorio-extra-craft_prestige:before {
    content: "\f27f";
}
.teritorio-extra-columbarium:before {
    content: "\f280";
}
.teritorio-extra-city:before {
    content: "\f281";
}
.teritorio-extra-canyoning:before {
    content: "\f282";
}
.teritorio-extra-cannery_maker_prestige:before {
    content: "\f283";
}
.teritorio-extra-cannery_maker:before {
    content: "\f284";
}
.teritorio-extra-calendar:before {
    content: "\f285";
}
.teritorio-extra-bungee_jumping:before {
    content: "\f286";
}
.teritorio-extra-boating:before {
    content: "\f287";
}
.teritorio-extra-bike_ride:before {
    content: "\f288";
}
.teritorio-extra-balneotherapy:before {
    content: "\f289";
}
.teritorio-extra-apple:before {
    content: "\f28a";
}
.teritorio-extra-ambassador:before {
    content: "\f28b";
}
.teritorio-extra-air-activity:before {
    content: "\f28c";
}
.teritorio-extra-aeroport:before {
    content: "\f28d";
}
.teritorio-extra-abbey:before {
    content: "\f28e";
}
.teritorio-extra-WIFI:before {
    content: "\f28f";
}
.teritorio-estate_agent:before {
    content: "\f290";
}
.teritorio-escape_game:before {
    content: "\f291";
}
.teritorio-erotic:before {
    content: "\f292";
}
.teritorio-employment_agency:before {
    content: "\f293";
}
.teritorio-emergency_ward_entrance:before {
    content: "\f294";
}
.teritorio-embassy:before {
    content: "\f295";
}
.teritorio-electronics:before {
    content: "\f296";
}
.teritorio-electrician:before {
    content: "\f297";
}
.teritorio-elderly_nursing_home:before {
    content: "\f298";
}
.teritorio-education:before {
    content: "\f299";
}
.teritorio-e-cigarette:before {
    content: "\f29a";
}
.teritorio-dry_cleaning:before {
    content: "\f29b";
}
.teritorio-driving_school:before {
    content: "\f29c";
}
.teritorio-drinking_water:before {
    content: "\f29d";
}
.teritorio-dressmaker:before {
    content: "\f29e";
}
.teritorio-dovecote:before {
    content: "\f29f";
}
.teritorio-dojo:before {
    content: "\f2a0";
}
.teritorio-doityourself:before {
    content: "\f2a1";
}
.teritorio-dog_park:before {
    content: "\f2a2";
}
.teritorio-dog_excrement:before {
    content: "\f2a3";
}
.teritorio-doctors:before {
    content: "\f2a4";
}
.teritorio-doctor_specialist:before {
    content: "\f2a5";
}
.teritorio-doctor:before {
    content: "\f2a6";
}
.teritorio-dock:before {
    content: "\f2a7";
}
.teritorio-diving:before {
    content: "\f2a8";
}
.teritorio-distillery:before {
    content: "\f2a9";
}
.teritorio-disabled_home:before {
    content: "\f2aa";
}
.teritorio-dentist:before {
    content: "\f2ab";
}
.teritorio-deli:before {
    content: "\f2ac";
}
.teritorio-defibrillator:before {
    content: "\f2ad";
}
.teritorio-cycling:before {
    content: "\f2ae";
}
.teritorio-cycle_barrier:before {
    content: "\f2af";
}
.teritorio-culture_shopping:before {
    content: "\f2b0";
}
.teritorio-culture:before {
    content: "\f2b1";
}
.teritorio-craft:before {
    content: "\f2b2";
}
.teritorio-coworking_space:before {
    content: "\f2b3";
}
.teritorio-coworking_office:before {
    content: "\f2b4";
}
.teritorio-courthouse:before {
    content: "\f2b5";
}
.teritorio-cosmetics:before {
    content: "\f2b6";
}
.teritorio-copyshop:before {
    content: "\f2b7";
}
.teritorio-convenience:before {
    content: "\f2b8";
}
.teritorio-container:before {
    content: "\f2b9";
}
.teritorio-confectionery:before {
    content: "\f2ba";
}
.teritorio-computer:before {
    content: "\f2bb";
}
.teritorio-compressed_air:before {
    content: "\f2bc";
}
.teritorio-community_centre:before {
    content: "\f2bd";
}
.teritorio-college:before {
    content: "\f2be";
}
.teritorio-coffee_roaster:before {
    content: "\f2bf";
}
.teritorio-coffee:before {
    content: "\f2c0";
}
.teritorio-clothing_bank:before {
    content: "\f2c1";
}
.teritorio-clothes_underwear:before {
    content: "\f2c2";
}
.teritorio-clothes:before {
    content: "\f2c3";
}
.teritorio-clockmaker:before {
    content: "\f2c4";
}
.teritorio-clinic:before {
    content: "\f2c5";
}
.teritorio-climbing_adventure:before {
    content: "\f2c6";
}
.teritorio-climbing:before {
    content: "\f2c7";
}
.teritorio-city_wall:before {
    content: "\f2c8";
}
.teritorio-city_gate:before {
    content: "\f2c9";
}
.teritorio-cinema:before {
    content: "\f2ca";
}
.teritorio-church_heritage:before {
    content: "\f2cb";
}
.teritorio-church:before {
    content: "\f2cc";
}
.teritorio-chocolate:before {
    content: "\f2cd";
}
.teritorio-child_youth_centre:before {
    content: "\f2ce";
}
.teritorio-chemist:before {
    content: "\f2cf";
}
.teritorio-cheese:before {
    content: "\f2d0";
}
.teritorio-charity:before {
    content: "\f2d1";
}
.teritorio-charging_station_motocar:before {
    content: "\f2d2";
}
.teritorio-charging_station_bicycle:before {
    content: "\f2d3";
}
.teritorio-charging_station:before {
    content: "\f2d4";
}
.teritorio-chapel:before {
    content: "\f2d5";
}
.teritorio-chamber:before {
    content: "\f2d6";
}
.teritorio-chalet:before {
    content: "\f2d7";
}
.teritorio-cemetery:before {
    content: "\f2d8";
}
.teritorio-cave_entrance:before {
    content: "\f2d9";
}
.teritorio-cathedral:before {
    content: "\f2da";
}
.teritorio-catering:before {
    content: "\f2db";
}
.teritorio-caterer:before {
    content: "\f2dc";
}
.teritorio-castle_wall:before {
    content: "\f2dd";
}
.teritorio-castle:before {
    content: "\f2de";
}
.teritorio-casino:before {
    content: "\f2df";
}
.teritorio-carpet:before {
    content: "\f2e0";
}
.teritorio-carpenter:before {
    content: "\f2e1";
}
.teritorio-caravan_site:before {
    content: "\f2e2";
}
.teritorio-caravan:before {
    content: "\f2e3";
}
.teritorio-car_wash:before {
    content: "\f2e4";
}
.teritorio-car_repair:before {
    content: "\f2e5";
}
.teritorio-car_rental:before {
    content: "\f2e6";
}
.teritorio-car_pooling:before {
    content: "\f2e7";
}
.teritorio-car_parts:before {
    content: "\f2e8";
}
.teritorio-car:before {
    content: "\f2e9";
}
.teritorio-canoe:before {
    content: "\f2ea";
}
.teritorio-cannabis:before {
    content: "\f2eb";
}
.teritorio-camp_site:before {
    content: "\f2ec";
}
.teritorio-camera:before {
    content: "\f2ed";
}
.teritorio-cafe:before {
    content: "\f2ee";
}
.teritorio-butcher:before {
    content: "\f2ef";
}
.teritorio-bus_stop_seasonal:before {
    content: "\f2f0";
}
.teritorio-bus_stop:before {
    content: "\f2f1";
}
.teritorio-bus_station:before {
    content: "\f2f2";
}
.teritorio-bullring:before {
    content: "\f2f3";
}
.teritorio-bullfighting:before {
    content: "\f2f4";
}
.teritorio-builder:before {
    content: "\f2f5";
}
.teritorio-brownfield:before {
    content: "\f2f6";
}
.teritorio-brewery:before {
    content: "\f2f7";
}
.teritorio-bowling_alley:before {
    content: "\f2f8";
}
.teritorio-boutique:before {
    content: "\f2f9";
}
.teritorio-boules:before {
    content: "\f2fa";
}
.teritorio-border_control:before {
    content: "\f2fb";
}
.teritorio-books:before {
    content: "\f2fc";
}
.teritorio-boat:before {
    content: "\f2fd";
}
.teritorio-board_map:before {
    content: "\f2fe";
}
.teritorio-bmx:before {
    content: "\f2ff";
}
.teritorio-bird_hide:before {
    content: "\f300";
}
.teritorio-billiards:before {
    content: "\f301";
}
.teritorio-bicycle_shop:before {
    content: "\f302";
}
.teritorio-bicycle_repair:before {
    content: "\f303";
}
.teritorio-bicycle_rental:before {
    content: "\f304";
}
.teritorio-bicycle_pump:before {
    content: "\f305";
}
.teritorio-bicycle_parking:before {
    content: "\f306";
}
.teritorio-bicycle_docking_station:before {
    content: "\f307";
}
.teritorio-beverages:before {
    content: "\f308";
}
.teritorio-bench:before {
    content: "\f309";
}
.teritorio-beekeeper:before {
    content: "\f30a";
}
.teritorio-bed:before {
    content: "\f30b";
}
.teritorio-beauty:before {
    content: "\f30c";
}
.teritorio-beachvolleyball:before {
    content: "\f30d";
}
.teritorio-beach_resort:before {
    content: "\f30e";
}
.teritorio-beach:before {
    content: "\f30f";
}
.teritorio-bbq:before {
    content: "\f310";
}
.teritorio-bathroom_furnishing:before {
    content: "\f311";
}
.teritorio-basketball:before {
    content: "\f312";
}
.teritorio-basket_maker:before {
    content: "\f313";
}
.teritorio-bar:before {
    content: "\f314";
}
.teritorio-bank:before {
    content: "\f315";
}
.teritorio-baking_oven:before {
    content: "\f316";
}
.teritorio-bakery:before {
    content: "\f317";
}
.teritorio-bag:before {
    content: "\f318";
}
.teritorio-badminton:before {
    content: "\f319";
}
.teritorio-attraction:before {
    content: "\f31a";
}
.teritorio-atm:before {
    content: "\f31b";
}
.teritorio-athletics:before {
    content: "\f31c";
}
.teritorio-artwork:before {
    content: "\f31d";
}
.teritorio-arts_centre:before {
    content: "\f31e";
}
.teritorio-art:before {
    content: "\f31f";
}
.teritorio-architect:before {
    content: "\f320";
}
.teritorio-archaeological_site:before {
    content: "\f321";
}
.teritorio-aquarium:before {
    content: "\f322";
}
.teritorio-apartment_resort:before {
    content: "\f323";
}
.teritorio-apartment_rental:before {
    content: "\f324";
}
.teritorio-antiques:before {
    content: "\f325";
}
.teritorio-animal_shelter:before {
    content: "\f326";
}
.teritorio-animal_boarding:before {
    content: "\f327";
}
.teritorio-amenity:before {
    content: "\f328";
}
.teritorio-alpine_hut:before {
    content: "\f329";
}
.teritorio-allotments:before {
    content: "\f32a";
}
.teritorio-alcohol:before {
    content: "\f32b";
}
.teritorio-agrarian:before {
    content: "\f32c";
}
.teritorio-aerodrome:before {
    content: "\f32d";
}
.teritorio-advertising_board:before {
    content: "\f32e";
}
.teritorio-accessories:before {
    content: "\f32f";
}
